/*
    FONTS
*/
@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&family=Poppins:ital,wght@0,600;1,100&display=swap');

:root {
    --white-color: #e6e6e6;
    --dark-brown: #532e1c;
    --light-brown: #c5a880;
    --black: #0f0f0f;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Didact Gothic';
    font-weight: 400;
    font-size: 18px;
    margin: 0px;

    position: relative;
}

a:hover {
    text-decoration: underline;
}

/*
    NAVIGATION
*/
nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 12px 86px 12px 55px;
    gap: 8px;

    position: absolute;
    z-index: 1;
    left: 0px;
    right: 0px;
    top: 0px;
}

ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 50px;
    font-size: 16px;

    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: var(--white-color);
}

.logo--homepage {
    display: flex;
    align-items: center;
    gap: 10px
}

#iskopi-logo {
    width: 70px;
}

#iskopi-text-logo {
    margin-top: 10px;
    width: 110px;
}

/*
    HEADER
*/
header {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 153px 75px;

    position: absolute;
    height: 503px;
    right: 0px;
    left: 0px;
    top: 0px;

    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 65%, #FFFFFF 100%), url(/images/header-img.png);
    background-size: cover;
    background-repeat: no-repeat;
}

header > p {
    font-family: 'Century Gothic';
    font-style: italic;
    font-weight: 400;
    font-size: 20px;
    line-height: 29px;
    letter-spacing: -0.05em;
    margin: 0px;

    color: #FFFFFF;
}

.header-title {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 15px;
}

.header-title > h1:last-child {
    color: var(--light-brown)
}

h1 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 96px;
    line-height: 144px;
    text-align: center;
    letter-spacing: -0.1em;
    margin: 0px;

    color: var(--white-color);
}

h2 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 64px;
    text-align: center;
    letter-spacing: -0.1em;
    margin: 0px;
}

h3 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 26px;
    margin: 0px;
}

/* 
    MAIN CONTENT
*/
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 120px;

    position: absolute;
    margin: auto;
    width: 1287px;
    right: 0px;
    left: 0px;
    top: 878px;
}

.card {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 63px;

    width: 1287px;
    height: 610px;
}

.card-content-title {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 10px;
}

.card-content-title > h2:last-child {
    color: var(--dark-brown);
}

.card--version-reversed {
    flex-direction: row-reverse;
}

.card-content-title--version-reversed {
    justify-content: flex-end;
}

p.reversed {
    text-align: right;
}

article > p {
    font-family: 'Century Gothic';
    font-style: italic;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: -0.05em;
    text-align: center;
}

/*
    FOOTER
*/
footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;

    position: absolute;
    height: 740px;
    left: 0px;
    right: 0px;
    top: 3489px;

    background: var(--black);
}

.footer-head {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding-top: 75px;
}

.footer-head > #iskopi-logo-white {
    width: 183px;
    height: 42px;
}

.footer-head > .tagline {
    width: 670px;

    text-align: center;
    color: white;
}

hr {
    width: 1300px;
}

.links {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 102px;

    width: 1104px;
    height: 315px;
}

.footer-links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 20px;

    width: 300px;
    height: 315px;
}

.footer-links > h3, .footer-links a, .footer-links p {
    margin: 0px;
    color: white;
}

.footer-links > hr {
    width: 300px;
}

ul.footer-links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 5px;

    list-style-type: none;
    margin: 0;
    padding: 0;
}

.footer-foot {
    color: var(--white-color);
    display: flex;
    justify-content: space-between;
    width: 97%;
}

.copyright {
    padding: 0px;
}

.social-icons {
    display: flex;
    gap: 10px;
    align-items: center;
}